<header>
  <!--navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#">
        <img
          id="logo-img"
          src="../assets/images/logos/APLogo.png"
          alt="logo"
          width="60px"
        />
      </a>
      <a class="navbar-brand" href="#"> Portfolio Web </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#acerca_de"
              >Acerca de</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#experiencia"
              >Experiencia</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#educacion"
              >Educación</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#skills"
              >Habilidades</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#proyectos"
              >Proyectos</a
            >
          </li>
          <li>
            <button
              *ngIf="!isLogged"
              id="btnLogin"
              type="submit"
              class="btn btn-outline-success"
              data-bs-toggle="modal"
              data-bs-target="#login"
            >
              Login
            </button>
          </li>
          <li>
            <button
              *ngIf="isLogged"
              id="btnLogout"
              class="btn btn-outline-warning"
              type="submit"
              (click)="onLogOut()"
            >
              Logout
            </button>
          </li>
          <app-login (miEvento)="setIsLogged($event)"></app-login>
        </ul>
      </div>
    </div>
  </nav>
</header>
