<div
  class="modal fade"
  id="edit-nombre"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">
          Editar Nombre y Apellido
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="reloadPage()"
        ></button>
      </div>
      <form [formGroup]="formulario" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-0">
            <label for="nombre" class="form-label">Nombre:</label>
            <input
              type="text"
              [(ngModel)]="persona.nombre"
              class="form-control"
              formControlName="nombre"
              placeholder="Ingrese su nombre (requerido)"
              [ngClass]="{
                'is-invalid': Nombre?.errors && Nombre?.touched,
                'is-valid': !Nombre?.errors && Nombre?.touched
              }"
            />
            <div *ngIf="Nombre?.errors && Nombre?.touched">
              <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                El nombre es requerido.
              </p>
            </div>
          </div>
          <br />
          <div class="mb-4">
            <label for="apellido" class="form-label">Apellido:</label>
            <input
              type="text"
              [(ngModel)]="persona.apellido"
              class="form-control"
              formControlName="apellido"
              placeholder="Ingrese su apellido (requerido)"
              [ngClass]="{
                'is-invalid': Apellido?.errors && Apellido?.touched,
                'is-valid': !Apellido?.errors && Apellido?.touched
              }"
            />
            <div *ngIf="Apellido?.errors && Apellido?.touched">
              <p *ngIf="Apellido?.hasError('required')" class="text-danger">
                El apellido es requerido.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
