<section id="acerca_de" class="container">
    <div class="row">
      <div class="section-titulo col-lg-11 col-md-11 col-sm-10 col-10">
        <h2>Acerca de...</h2>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-2">
        <p class="icon-container">
          <!-- icon -->
          <button class="p-0 m-1 btn btn-close-black" title="Editar"><i class="icono fas fa-pencil"></i></button>
          <button class="p-0 m-1 btn btn-close-black" title="Borrar"><i class="icono fa-solid fa-trash"></i></button>

        </p>
      </div>
    </div>
    <p>
      Mi nombre es Diego Victor Vilca, tengo 35 años y soy Desarrollador Fullstack Developer Junior.
      Actualmente resido en Bs As y me considero un entusiasta de las nuevas tecnologías, en constante búsqueda de nuevos conocimientos.
      Soy una persona responsable que sabe tomar la iniciativa como asi también trabajar en equipo.
      Busco participar en proyectos importantes determinado a lograr metas que contribuyan a mi crecimiento personal como al empresarial.
    </p>
  </section>
