<section id="acerca_de" class="container">
    <div class="section-titulo">
      <h2>Acerca de...</h2>
    </div>
    <p>Mi nombre es Diego Victor Vilca, tengo 35 años y soy Desarrollador Fullstack Developer Junior. 
      Actualmente resido en Bs As y me considero un entusiasta de las nuevas tecnologías, en constante búsqueda de nuevos conocimientos. 
      Soy una persona responsable que sabe tomar la iniciativa como asi también trabajar en equipo. 
      Busco participar en proyectos importantes determinado a lograr metas que contribuyan a mi crecimiento personal como al empresarial.</p>
  </section>
