<div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
          <div class="modal-body">
              <div>
                <label for="email" class="form-label">Email:</label>
                <input type="email" formControlName="email" [class.border-danger]="EmailInvalid">
              </div>
              <div *ngIf="Email?.touched && Email?.errors">
                <p *ngIf="Email?.hasError('required')" class="error">
                  El email es requerido.
                </p>
                <p *ngIf="Email?.hasError('email')" class="error">
                  El formato del email no es válido.
                </p>
              </div>
              <br>
              <div>
                <label for="password" class="form-label">Password:</label>
                <input type="password" formControlName="password" [class.border-danger]="PasswordInvalid">
              </div>
              <div *ngIf="Password?.touched && Password?.errors">
                <p *ngIf="Password?.hasError('required')" class="error">
                  El password es requerido.
                </p>
                <p *ngIf="Password?.hasError('minlength')" class="error">
                  El password debe ser de 8 o más carácteres.
                </p>
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
          </div>
      </form>
    </div>
  </div>
</div>
