<div
  class="modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Iniciar Sesión</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="limpiarForm()"
        ></button>
      </div>
      <form [formGroup]="formulario" (ngSubmit)="onLogin($event)" novalidate>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Usuario:</label>
            <input
              type="text"
              class="form-control"
              id="nombreUsuario"
              formControlName="nombreUsuario"
              aria-describedby="Usuario"
              required
              [(ngModel)]="nombreUsuario"
              placeholder="Ingrese su usuario"
              [ngClass]="{
                'is-invalid': NombreUsuario?.errors && NombreUsuario?.touched,
                'is-valid': !NombreUsuario?.errors && NombreUsuario?.touched
              }"
            />
            <div *ngIf="NombreUsuario?.errors && NombreUsuario?.touched">
              <p
                *ngIf="NombreUsuario?.hasError('required')"
                class="text-danger"
              >
                El usuario es requerido.
              </p>
              <!-- solo se pide 3 caracteres para el testeo -->
              <p *ngIf="Password?.hasError('minlength')" class="text-danger">
                El usuario debe ser de 3 o más carácteres.
              </p>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
              required
              [(ngModel)]="password"
              placeholder="Ingrese su contraseña"
              [ngClass]="{
                'is-invalid': Password?.errors && Password?.touched,
                'is-valid': !Password?.errors && Password?.touched
              }"
            />
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="text-danger">
                La contraseña es requerida.
              </p>
              <!-- solo se pide 3 caracteres para el testeo -->
              <p *ngIf="Password?.hasError('minlength')" class="text-danger">
                El password debe ser de 3 o más carácteres.
              </p>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
