<div
  class="modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Iniciar Sesión</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombreUsuario" class="form-label">Email:</label>
            <input
              type="text"
              class="form-control"
              id="nombreUsuario"
              name="nombreUsuario"
              [(ngModel)]="nombreUsuario"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input
              type="password"
              id="password"
              class="form-control"
              name="password"
              [(ngModel)]="password"
              required
            />
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
