<footer>
  <div class="container container-footer">
    <ul class="redes-footer">
      <li>
        <a href="" class="footer-icon" target="_blank"><span class="icon-facebook"></span></a>
      </li>
      <li>
        <a href="" class="footer-icon" target="_blank"><span class="icon-twitter"></span></a>
      </li>
      <li>
        <a href="" class="footer-icon" target="_blank"><span class="icon-github"></span></a>
      </li>
      <li>
        <a href="" class="footer-icon" target="_blank"><span class="icon-instagram"></span></a>
      </li>
    </ul>
    <ul class="menu">
      <li>
        <a href="#acerca_de">Acerca de</a>
      </li>                  
      <li>
        <a href="#experiencia">Experiencia</a>
      </li>
      <li>
        <a href="#educacion">Educación</a>
      </li>
      <li>
        <a href="#skills">Habilidades</a>
      </li>
      <li>
        <a href="#proyectos">Proyectos</a>
      </li>
    </ul>
    <p>&copy; 2022 Diego Victor Vilca | All Rights Reserved</p>
  </div>
</footer>
<a href="#" class="to-top" title="Volver arriba">
  <i class="fa fa-chevron-up" aria-hidden="true"></i>
</a>