<div
  class="modal fade"
  id="create-skill"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">
          Agregar Habilidad Digital
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          (click)="limpiarForm()"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formulario" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="nombre" class="form-label">Habilidad Digital:</label>
            <input type="text" class="form-control" formControlName="nombre" />
          </div>
          <br />
          <div class="mb-3">
            <label for="porcentaje" class="form-label">Conocimiento (%):</label>
            <select formControlName="porcentaje" class="1-100"></select>
          </div>
          <br />
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo de Habilidad:</label>
            <select formControlName="tipo">
              <option value="hard">hard</option>
              <option value="soft">soft</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
