/*google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*=====================================*/

*, *::before, *::after{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #E7F6FF;
    font-family: 'Poppins', sans-serif;
    font-size: .813rem;
}

h1,h2,h3,h4,h5 {
    font-weight: 600;
}

.container {
    background-color: #fffaff;
    border: 2.5px solid rgb(176, 168, 185, .3);
    border-radius: 10px;
    margin-top: 1.25rem;
    color: #4B4453;
}


.container h2 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 10px;
    /* color: #4B4453; */
    color: #3d3d3d;
}

h3 {
    font-size: .938rem;
    color: #3d3d3d;
}


img {
    max-width: 100%;
    max-height: 100%;
}

/*ICONOS REDES*/




/*SECTIONS*/

.items-list {
    list-style: none;
    padding: 0;
}

.items-list li{
    padding: 12px 0;
}

.section-lista {
    padding-top: 12px;
}

.logo {
    max-height: 50px;
    margin: auto;
    display: block;
    padding-left: 12px;
}

.logo a {
    text-decoration: none;
}

.section-info {
    padding-left: 24px;
    padding-bottom: 18px;
    border-bottom: 1.5px solid rgb(176, 168, 185, .2);
}

.section-info a {
    text-decoration: none;
    color: inherit;
}

/* para viñetas */
div[class|="info"]{
    display:inline-flex;
}


time {
    font-size: .75rem;
    opacity: .75;
}

.boton-icon:hover [class*="icono"]{
  color: lightgoldenrodyellow;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.35);
}

