<div
  class="modal fade"
  id="edit-education"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="loginLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">
          Editar Formación Académica
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="reloadPage()"
        ></button>
      </div>
      <form [formGroup]="formulario" (ngSubmit)="onEnviar($event)">
        <div class="modal-body">
          <div class="mb-3">
            <label for="institucion" class="form-label">Institución:</label>
            <input
              type="text"
              [(ngModel)]="educacion.institucion"
              class="form-control"
              formControlName="institucion"
              placeholder="Ingrese la institución (requerido)"
              [ngClass]="{
                'is-invalid': Institucion?.errors && Institucion?.touched,
                'is-valid': !Institucion?.errors && Institucion?.touched
              }"
            />
            <div *ngIf="Institucion?.errors && Institucion?.touched">
              <p *ngIf="Institucion?.hasError('required')" class="text-danger">
                La institución es requerida.
              </p>
            </div>
          </div>
          <br />
          <div class="mb-3">
            <label for="titulo" class="form-label">Título:</label>
            <input
              type="text"
              [(ngModel)]="educacion.titulo"
              class="form-control"
              formControlName="titulo"
              placeholder="Ingrese el título (requerido)"
              [ngClass]="{
                'is-invalid': Titulo?.errors && Titulo?.touched,
                'is-valid': !Titulo?.errors && Titulo?.touched
              }"
            />
            <div *ngIf="Titulo?.errors && Titulo?.touched">
              <p *ngIf="Titulo?.hasError('required')" class="text-danger">
                El nombre del título es requerido.
              </p>
            </div>
          </div>
          <br />
          <div class="mb-3">
            <label for="anioIngreso" class="form-label">Año Ingreso:</label>
            <input
              type="text"
              [(ngModel)]="educacion.anioIngreso"
              class="form-control"
              formControlName="anioIngreso"
              placeholder="Ingrese el año de ingreso"
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="anioEgreso" class="form-label">Año Egreso:</label>
            <input
              type="text"
              [(ngModel)]="educacion.anioEgreso"
              class="form-control"
              formControlName="anioEgreso"
              placeholder="Ingrese el año de egreso"
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="urlImg" class="form-label">Url Imágen:</label>
            <input
              type="text"
              [(ngModel)]="educacion.urlImg"
              class="form-control"
              formControlName="urlImg"
              placeholder="Ingrese la url de la imagen"
            />
          </div>
          <div class="mb-3">
            <label for="urlWeb" class="form-label">Dirección Web:</label>
            <input
              type="text"
              [(ngModel)]="educacion.urlWeb"
              class="form-control"
              formControlName="urlWeb"
              placeholder="Ingrese la url de la institución"
            />
          </div>
          <br />
          <div class="mb-3">
            <label for="urlCertificado" class="form-label"
              >Url Certificado:</label
            >
            <input
              type="text"
              [(ngModel)]="educacion.urlCertificado"
              class="form-control"
              formControlName="urlCertificado"
              placeholder="Ingrese la url del certificado (requerido)"
              [ngClass]="{
                'is-invalid': UrlCertificado?.errors && UrlCertificado?.touched,
                'is-valid': !UrlCertificado?.errors && UrlCertificado?.touched
              }"
            />
            <div *ngIf="UrlCertificado?.errors && UrlCertificado?.touched">
              <p
                *ngIf="UrlCertificado?.hasError('required')"
                class="text-danger"
              >
                El certificado es requerido.
              </p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
