<div class="modal fade" id="edit-skill" data-bs-backdrop="static" tabindex="-1" aria-labelledby="loginLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginLabel">Editar Habilidad Digital</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="reloadPage()"></button>
      </div>
      <form [formGroup]="formulario" (ngSubmit)="onEnviar($event)">
          <div class="modal-body">
              <div class="mb-3">
                <label for="nombre" class="form-label">Habilidad Digital:</label>
                <input type="text" [(ngModel)]="habilidad.nombre" class="form-control" formControlName="nombre">
              </div>
              <br>
              <div class="mb-3">
                <label for="porcentaje" class="form-label">Conocimiento (%):</label>
                <input type="number" [(ngModel)]="habilidad.porcentaje" class="form-control" formControlName="porcentaje">
              </div>
              <br>
              <div class="mb-3">
                <label for="tipo" class="form-label">Tipo de Habilidad (hard/soft):</label>
                <input type="text" [(ngModel)]="habilidad.tipo" class="form-control" formControlName="tipo">
              </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Enviar</button>
          </div>
      </form>
    </div>
  </div>
</div>
