/* #banner {
  transform: scale(1);
} */

.container__banner {
    padding: 0px;
    position: relative;
    height: 40vh;
    min-height: 40vh;
    overflow: visible;
}

.layer__banner {
    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
    background-image: linear-gradient(to right,
    rgba(33, 37, 41, 1) 10%,
    rgba(33, 37, 41, .7) 40%,
    rgba(33, 37, 41, .4) 70%,
    rgba(33, 37, 41, 0) 100%);
}

@media (max-width: 300px) {
    .container__banner {
        display: flex;
        justify-content: center;
    }
}

.container-profile {
    max-height: 75%;
    position: absolute;
    bottom: 0;
    justify-content: center;
    margin-left: 16px;
    /* margin-bottom: 0.5rem; */
    margin-bottom: 1rem;
}

@media (max-width: 1000px){
    .container-profile .profile__name h1{
        font-size: 1.25rem;
    }
}

@media (max-width: 300px) {
    .container-profile {
        margin-left: 0;
        text-align: center;
    }

    .container-profile .profile__name h1{
        font-size: 1.125rem;
    }
}

.banner__img {
    height: 100%;
    width: 100%;
    object-position: bottom right;
    object-fit: cover;
    border-radius: 10px;
}


.profile__img {
    position: relative;
    height: 20vh;
    width: fit-content;
    max-height: 50%;
    min-height: 82px;
    padding: 4px;
    border: 1px solid #7B7484;
    border-radius: 50%;
    background-color: #eaf5fa;
}


@media (max-width: 300px) {
    .profile__img {
        margin: 0 auto;
    }
}

.profile__img img {
    border-radius: 50%;
    max-width: 100%;
    min-height: 70px;
    border-color: #212529;
    /* border-color: #B0A8B9; */
}

.profile__name {
  display: inline-flex;
}

.profile__name h1{
    margin-top: 8px;
    margin-bottom: 8px;
    line-height: 1.2;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    /* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .2px;     */
}


/* iconos redes */
.social-bar {
    position: absolute;
    right: -36px;
    top: 25%;
    font-size: .8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-custom {
  position: absolute;
  margin-top: 8px;
  right: -20px;
  font-size: .8rem;
  width: 30px;
}


.social-plus {
  top: 14%;
  right: -5.2%;
}



.icon {
    width: 30px;
    color: white;
    text-decoration: none;
    padding: .5rem 0;
    display: flex;
    transition: all .5s;
}

.icon:hover {
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
    color: white;
}

.icono-claro {
  font-size: 14px;
  color: white;
}

.icono-oscuro {
  font-size: 14px;
  color: #4B4453;
}

#img-perfil-edit {
  position: absolute;
  bottom: 0;
  right: 0;
}

#img-banner-edit {
  position: absolute;
  top: 0;
  right: 0;
}

