<section id="banner" >
    <!--banner-->
    <div class="container container__banner" >
      <div class="layer__banner"></div>
      <!-- redes -->
      <div class="social-bar">
        <div class="row" *ngFor="let social of redes">
          <a href="" [ngClass]="'icon ' + social.icon" [ngStyle]="{'background' : social.icon_color}" target="_blank"></a>
        </div>
      </div>
      <!-- imagen banner -->
      <img class="banner__img" [src]="img_banner" alt="banner">

      <!-- imagen profile -->
      <div class="container-profile">
          <div class="container profile__img">
            <img [src]="img_perfil" alt="img-profile">
            <div id="img-perfil-edit">
              <button class="p-0 m-0 btn btn-close-black" title="Editar"><i class="icono-claro fas fa-pencil"></i></button>
            </div>
          </div>



        <div class="profile__name">
          <h1>{{nombre}} {{apellido}}</h1>
          <p>
            <!-- icon -->
            <button class="p-0 m-2 btn btn-close-black" title="Editar"><i class="icono-claro fas fa-pencil"></i></button>

          </p>
        </div>

      </div>

      <div id="img-banner-edit">
        <button class="p-0 me-2 btn btn-close-black" title="Editar"><i class="icono-oscuro fas fa-pencil"></i></button>
      </div>


    </div>
</section>
