<section id="banner" >
    <!--banner-->
    <div class="container container__banner" >
      <div class="layer__banner"></div>
      <!-- redes -->
      <div class="social-bar">
        <a href="" class="icon icon-facebook" target="_blank"></a>
        <a href="" class="icon icon-github" target="_blank"></a>
        <a href="" class="icon icon-twitter" target="_blank"></a>
        <a href="" class="icon icon-instagram" target="_blank"></a>
      </div>
      <!-- imagen banner -->
      <img class="banner__img" src="../assets/images/banner.png" alt="banner">

      
      <div class="container-profile">
        <div class="container profile__img">
          <img src="../assets/images/profile.jpg" alt="img-profile">            
        </div>
        <div class="profile__name">
          <h1>Diego Victor Vilca</h1>
        </div>
      </div>

    </div>
</section>