<section id="educacion" class="container">
  <div class="section-titulo">
    <h2>Educación</h2>       
  </div>
  <div class="section-lista">
    <ul class="items-list">
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/mim-logo.jpg" alt="mim-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Escuela Mariano Moreno</h3>
                <p>Bachiller en Ciencias Sociales</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://polotic.misiones.gob.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/polo-logo.png" alt="polotic-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://blockchainmisiones.aerobotsmisiones.com/certcheck/index.php?numero=1454" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Polotic</h3>
                <p>Curso de Desarrollo Web FullStack con Python y JavaScript</p>
                <p><time>2021</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://polotic.misiones.gob.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/polo-logo.png" alt="polotic-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://blockchainmisiones.aerobotsmisiones.com/certcheck/index.php?numero=289" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Polotic</h3>
                <p>Curso de Programación Web PHP</p>
                <p><time>2021</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://polotic.misiones.gob.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/polo-logo.png" alt="polotic-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://blockchainmisiones.aerobotsmisiones.com/certcheck/index.php?numero=1408" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Polotic</h3>
                <p>Curso de Inglés para Desarrollo de Software</p>
                <p><time>2021</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://siliconmisiones.gob.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/silicon-logo.png" alt="silicon-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://blockchainmisiones.aerobotsmisiones.com/certcheck/index.php?numero=3658" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Silicon Misiones</h3>
                <p>Curso de Desarrollo Web Fullstack con Java</p>
                <p><time>2022</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://www.unsam.edu.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/unsam-logo.png" alt="unsam-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://drive.google.com/file/d/1YpBpye02sLPe7xGBps7OIqa37jel1OnR/view?usp=share_link" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Universidad Nacional San Martin</h3>
                <p>Curso de Programación en Python</p>
                <p><time>2021</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://www.itba.edu.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/itba-logo.png" alt="itba-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://drive.google.com/file/d/1NPXe-HAF_hy580YFcP8ymBPyFROaMbdT/view?usp=share_link" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Instituto Tecnológico de Buenos Aires</h3>
                <p>Curso de analisis de datos en Python</p>
                <p><time>2021</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://todocodeacademy.com/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/todocode-logo.png" alt="todocode-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://drive.google.com/file/d/1tT3gFTCu1Ji7kVmg-YWa2LxjYkwXp1U2/view?usp=share_link" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Todo Code</h3>
                <p>Curso de Desarrollo de APIs en Java
                  con SpringBoot<p>

                  <p><time>2022</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="https://www.fra.utn.edu.ar/" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" src="../assets/images/logos/utn-logo.png" alt="utn-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="https://www.fra.utn.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>UTN</h3>
                <p>Tecnicatura en Programación</p>
                <p><time>Cursando</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  
</section>