<section id="educacion" class="container">
  <div class="row">
    <div class="section-titulo ol-lg-11 col-md-11 col-sm-10 col-10">
      <h2>Educación</h2>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 coabout l-2">
      <p class="icon-container">
        <!-- icon -->
        <button class="boton-icon p-0 m-1 btn btn-close-black" title="Agregar"><i class="icono fa-solid fa-plus"></i></button>

      </p>
    </div>
  </div>
  <div class="section-lista">
    <ul class="items-list" *ngFor="let estudio of educacion">
      <li>
        <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-2 col-2 pe-0">
            <a href="{{estudio.url_web}}" target="_blank" rel="noopener" title="Ir a la web">
              <img class="logo" [src]="estudio.url_img" alt="mim-logo">
            </a>
          </div>
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-education">
              <a href="{{estudio.url_certificado}}" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>{{estudio.institucion}}</h3>
                <p>{{estudio.titulo}}</p>
                <p><time>{{estudio.ingreso}}</time>-<time>{{estudio.egreso}}</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p class="icon-container">
              <!-- icon -->
              <button class="boton-icon p-0 m-1 btn btn-close-black" title="Editar"><i class="icono fas fa-pencil"></i></button>
              <button class="boton-icon p-0 m-1 btn btn-close-black" title="Borrar"><i class="icono fa-solid fa-trash"></i></button>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>

</section>
