<section id="experiencia" class="container">
    <div class="section-titulo">
      <h2>Experiencia</h2>
    </div>
    <ul class="items-list">
      <li>
        <div class="row">
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>