<section id="experiencia" class="container">
  <div class="row">
    <div class="section-titulo col-lg-11 col-md-11 col-sm-10 col-10">
      <h2>Experiencia</h2>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-2 col-2">
      <p class="icon-container">
        <!-- icon -->
        <button class="p-0 m-1 btn btn-close-black" title="Agregar"><i class="icono fa-solid fa-plus"></i></button>

      </p>
    </div>
  </div>
    <ul class="items-list">
      <li>
        <div class="row">
          <div class="section-info col-lg-11 col-md-11 col-sm-9 col-9">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p class="icon-container">
              <!-- icon -->
              <button class="p-0 m-1 btn btn-close-black" title="Editar"><i class="icono fas fa-pencil"></i></button>
              <button class="p-0 m-1 btn btn-close-black" title="Borrar"><i class="icono fa-solid fa-trash"></i></button>

            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="section-info col-lg-10 col-md-10 col-sm-8 col-8">
            <div class="info-job">
              <a href="https://mim.edu.ar/" target="_blank" rel="noopener" title="Ir al certificado">
                <h3>Reparador de PC</h3>
                <p>Diagnostico y reparacion de pcs freelance</p>
                <p><time>2005</time></p>
              </a>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-2 col-2">
            <p>
              <!-- icon -->
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>
